
.idea/
.svn/
!core/.svn
.htaccess
data/assets/
data/temp/
data/sessions/
data/imports/
data/errors/
packages/
vendor/
app/inc/composer/vendor/
root/manifest.json
root/firebase-messaging-sw-config.js
root/.well-known
app/app/ui/inc/.sass-cache
*.php~
*.js~
*.css~
*.scss~